[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[core]
	editor = \"C:/gitExtension/GitExtensions.exe\" fileeditor
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
